@import "tailwindcss";



@theme inline {
  --color-threat-critical: var(--Critical-bg-color);
  --color-threat-high: var(--High-bg-color);
  --color-threat-medium: var(--Medium-bg-color);
  --color-threat-low: var(--Low-bg-color);
  
  --color-threat-phishing: #EC4899;
  --color-threat-malware: #9333EA;
  --color-threat-spam: #6B7280;
  
  --color-status-quarantined: #3B82F6;
  --color-status-active: #DC2626;
  --color-status-resolved: #16A34A;
}

  :root{
    --primary-font: "simplon";
    --secondary-font: "bebasNeue";
     --font-size-xs: 0.75rem;   /* 12px */
    --font-size-sm: 0.875rem;  /* 14px */
    --font-size-base: 1rem;    /* 16px */
    --font-size-lg: 1.125rem;  /* 18px */
    --font-size-xl: 1.5rem;   /* 24px */
    --font-size-h1:3.75rem;  /* 60px*/
    /* color variables */
     --yellow_color: #FFCD00;
     --black_color:#1A0000;
    --text-primary: #1D1616;
    --text-secondary: #00827B;
    --text-tertiary:#F5F6F8;
    --bg-color-primary:#f7f7f7;
    --button-primary-bg: #00827B;
    --button-primary-text: #FFFFFF;
    --background-secondary: #F5F6F8;
    --text-gray: #9999BE;
    --Low-bg-color: #09C475;
    --Medium-bg-color: #EAB308;
    --High-bg-color: #EA580C;
    --Critical-bg-color: #740b18eb;
    
  }

  @font-face {
    font-family: "simplon";
    src: url("../assets/fonts/SimplonNorm-Regular.otf");
    font-display:swap;
    font-weight: 400; 
  }


body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--primary-font);
}
